.lessons-container {
  padding-top: 28px;
}

.lessons-accordion-content {
  color: black;
  margin-bottom: 10px;
}

.lessons-accordion-content section {
  background-color: var(--tutu);
}
.lessons-accordion-content section:nth-child(even) {
  background-color: var(--beige);
}

.lessons-accordion-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 41px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  padding: 0 15px;
}

.lessons-accordion-content-text {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.lessons-accordion-content-text p {
  margin: 0;
  margin-top: -5px;
}

.lessons-accordion-content-actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}

@media screen and (max-width: 600px) {
  .lessons-accordion-section-content {
    flex-direction: column;
  }

  .lessons-accordion-content-actions {
    width: 100%;
    justify-content: space-around;
  }
}
