.button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  line-height: 24.51px;
}

.button.primary:hover {
  opacity: 0.8;
}

/* sizes */
.large {
  width: 250px;
}

.medium {
  width: 200px;
}

@media screen and (max-width: 375px) {
  .button {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}
