.module-card {
  width: 292px;

  margin-top: 30px;
  background-color: var(--whiteSmoke);
  color: black;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.module-card-logo {
  border-radius: 5px;
  height: 100px;
  object-fit: cover;
  width: 100%;
}

.module-card-texts {
  padding: 15px;
}

.module-card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  margin-top: -5px;
}

.module-card-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  margin-top: -13px;
}

.module-card-classes {
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  margin-top: -9px;
}

.module-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-card-header button {
  margin: -24px -10px 0 0;
}

.module-card-footer {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
}

.module-card-footer button {
  margin-right: -12px;
  margin-bottom: 1px;
}

.module-card-footer div {
  width: auto;
  padding: 0 23px;
}
