.sidebar {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100px;
}

.menu {
  margin-top: 43px;
  margin-bottom: 48px;
}

.home {
  margin-bottom: 14px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 75px;
  }
}
