.accordion-button {
  align-items: center;
  background-color: var(--whiteSmoke);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 50px;
  padding: 0 20px;
  width: 100%;
}

.accordion-button:hover {
  opacity: 0.7;
}

.accordion-title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  gap: 20px;
  line-height: 24.51px;
}

.accordion-title div {
  color: white;
}

.accordion-title p {
  margin: 0;
}

.accordion-title span {
  padding-bottom: 30px;
}

.accordion-wrapper {
  width: 100%;
}

.animated-accordion {
  animation: opac 0.8s;
}

.chevron-down {
  transform: rotate(180deg);
}

.chevron-up,
.chevron-down {
  margin-bottom: 3px;
  transition: transform 0.2s;
}

.open-accordion {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  .accordion-title div {
    margin-bottom: 10px;
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
